In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score, mean_squared_error

In [2]:
df = pd.read_csv('Diabetes_balanced.csv')

In [3]:
df.head()

   X1   X2   X3  X4   X5    X6     X7  X8  X9
0   6   98   58  33  190  34.0  0.430  43   0
1   4  189  110  31    0  28.5  0.680  37   0
2   1   90   62  18   59  25.1  1.268  25   0
3   0  125   68   0    0  24.7  0.206  21   0
4   8   99   84   0    0  35.4  0.388  50   0

In [4]:
df.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,X9
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,4.216146,123.871094,69.459635,21.311198,82.863281,33.064062,0.503948,34.072917,0.484375
std,3.425900,32.721539,20.066472,16.767395,120.071288,8.383487,0.358257,10.766935,0.500081
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,102.000000,64.000000,0.000000,0.000000,27.975000,0.254000,25.000000,0.000000
50%,4.000000,120.000000,72.000000,24.000000,0.000000,32.900000,0.383000,31.000000,0.000000
75%,7.000000,145.000000,80.000000,35.000000,135.000000,37.700000,0.677250,41.000000,1.000000
max,15.000000,199.000000,122.000000,99.000000,744.000000,67.100000,2.329000,69.000000,1.000000

In [5]:
data = df.drop('X9', axis = 1)
target = df['X9']

In [6]:
x_train, x_test, y_train, y_test = train_test_split(data, target, train_size=0.75, random_state = 123)

In [7]:
from sklearn.linear_model import LogisticRegression

In [8]:
log_model = LogisticRegression()

In [9]:
log_model.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [10]:
y_predicted = log_model.predict(x_test)

In [11]:
print(confusion_matrix(y_test, y_predicted))

[[70 29]
 [29 64]]

In [12]:
print(classification_report(y_test, y_predicted))

             precision    recall  f1-score   support

          0       0.71      0.71      0.71        99
          1       0.69      0.69      0.69        93

avg / total       0.70      0.70      0.70       192

In [13]:
score = accuracy_score(y_test, y_predicted)
print("Validation accuracy: {:.2%}".format(score))

Validation accuracy: 69.79%

In [14]:
mse = mean_squared_error(y_test, y_predicted)
print("MSE: {:.2%}".format(mse))

MSE: 30.21%

In [15]:
y_Log = pd.DataFrame(y_predicted)
y_Log.to_excel('y_Log.xlsx')