In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score, mean_squared_error

In [2]:
y_NN = pd.read_excel('y_NN.xlsx')

In [3]:
y_NN.head()

   MLFF  GRNN  PNN
0     1     0    0
1     0     0    0
2     0     0    0
3     0     1    1
4     1     1    1

In [4]:
y_NN['Sum'] = y_NN['MLFF'] + y_NN['GRNN'] + y_NN['PNN']

In [15]:
def y_overall(row):
    if(row['Sum'] >= 2):
        return 1
    else:
        return 0

In [16]:
y_NN['y_overall'] = y_NN.apply(y_overall,axis=1)

In [17]:
df = pd.read_csv('Diabetes_balanced.csv')

In [18]:
data = df.drop('X9', axis = 1)
target = df['X9']

In [19]:
x_train, x_test, y_train, y_test = train_test_split(data, target, train_size=0.75, random_state = 123)

In [20]:
print(confusion_matrix(y_test, y_NN['y_overall']))

[[90  9]
 [18 75]]

In [21]:
print(classification_report(y_test,  y_NN['y_overall']))

             precision    recall  f1-score   support

          0       0.83      0.91      0.87        99
          1       0.89      0.81      0.85        93

avg / total       0.86      0.86      0.86       192

In [22]:
score = accuracy_score(y_test, y_NN['y_overall'])
print("Validation accuracy: {:.2%}".format(score))

Validation accuracy: 85.94%

In [23]:
mse = mean_squared_error(y_test, y_NN['y_overall'])
print("MSE: {:.2%}".format(mse))

MSE: 14.06%

In [24]:
y_Ens = pd.read_excel('y_Ens.xlsx')

In [25]:
y_Ens.head()

   MLFF  GRNN  PNN  LDA  Log  RF  SVM  Sum
0     1     0    0    1    1   0    0    3
1     0     0    0    0    0   0    0    0
2     0     0    0    1    1   0    0    2
3     0     1    1    0    0   0    0    2
4     1     1    1    1    1   1    1    7

In [26]:
def y_overall2(row):
    if(row['Sum'] >= 4):
        return 1
    else:
        return 0

In [27]:
y_Ens['y_overall'] = y_Ens.apply(y_overall2,axis=1)

In [28]:
y_Ens.head()

   MLFF  GRNN  PNN  LDA  Log  RF  SVM  Sum  y_overall
0     1     0    0    1    1   0    0    3          0
1     0     0    0    0    0   0    0    0          0
2     0     0    0    1    1   0    0    2          0
3     0     1    1    0    0   0    0    2          0
4     1     1    1    1    1   1    1    7          1

In [29]:
print(confusion_matrix(y_test, y_Ens['y_overall']))

[[92  7]
 [10 83]]

In [30]:
print(classification_report(y_test,  y_Ens['y_overall']))

             precision    recall  f1-score   support

          0       0.90      0.93      0.92        99
          1       0.92      0.89      0.91        93

avg / total       0.91      0.91      0.91       192

In [31]:
score = accuracy_score(y_test, y_Ens['y_overall'])
print("Validation accuracy: {:.2%}".format(score))

Validation accuracy: 91.15%

In [32]:
mse = mean_squared_error(y_test, y_Ens['y_overall'])
print("MSE: {:.2%}".format(mse))

MSE: 8.85%